# Top Earners in the Movie Industry

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

> I chose the IMDB movie dataset. I've wanted to know how much the different movie genres, directors and production companies have grossed over a period of time.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('imdb-movies.csv')
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

### Data Cleaning

In [5]:
# Drop columns without neccesary information and remove all records with no financial information
# 
df.columns
df.drop(['id', 'imdb_id', 'popularity', 'budget', 'revenue',
        'cast', 'homepage', 'tagline', 'keywords', 'overview','runtime',
        'vote_count', 'vote_average', 'release_date', 'budget_adj'], axis=1, inplace=True)
df

,original_title,director,genres,production_companies,release_year,revenue_adj
0,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,2015,1.392446e+09
1,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,2015,3.481613e+08
2,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,2015,2.716190e+08
3,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015,1.902723e+09
4,Furious 7,James Wan,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,2015,1.385749e+09
...,...,...,...,...,...,...
10861,The Endless Summer,Bruce Brown,Documentary,Bruce Brown Films,1966,0.000000e+00
10862,Grand Prix,John Frankenheimer,Action|Adventure|Drama,Cherokee Productions|Joel Productions|Douglas ...,1966,0.000000e+00
10863,Beregis Avtomobilya,Eldar Ryazanov,Mystery|Comedy,Mosfilm,1966,0.000000e+00
10864,"What's Up, Tiger Lily?",Woody Allen,Action|Comedy,Benedict Pictures Corp.,1966,0.000000e+00
10865,Manos: The Hands of Fate,Harold P. Warren,Horror,Norm-Iris,1966,0.000000e+00

In [6]:
df.isna().sum()
df.dropna(inplace=True)

In [7]:
df.isna().sum()

original_title          0
director                0
genres                  0
production_companies    0
release_year            0
revenue_adj             0
dtype: int64

#### If I created one record for each the `production_companies` a movie was release under and one record each for `genres`<br>and tried to run calculations, it wouldn't work because for many records, the amount of `production_companies`<br>and `genres` aren't the same, so I'll create 2 dataframes; one w/o a `production_companies` column and one w/o a `genres` columns

#### One `production_companies` per record

In [39]:
pc_df = df.copy(deep=False).drop(['genres'], axis=1)

In [40]:
pc_df['production_companies'] = pc_df['production_companies'].apply(lambda x: x.split('|'))
pc_df

,original_title,director,production_companies,release_year,revenue_adj,cumulative_gross_per_director
0,Jurassic World,Colin Trevorrow,"[Universal Studios, Amblin Entertainment, Lege...",2015,1.392446e+09,1.392446e+09
1,Mad Max: Fury Road,George Miller,"[Village Roadshow Pictures, Kennedy Miller Pro...",2015,3.481613e+08,3.481613e+08
2,Insurgent,Robert Schwentke,"[Summit Entertainment, Mandeville Films, Red W...",2015,2.716190e+08,2.716190e+08
3,Star Wars: The Force Awakens,J.J. Abrams,"[Lucasfilm, Truenorth Productions, Bad Robot]",2015,1.902723e+09,1.902723e+09
4,Furious 7,James Wan,"[Universal Pictures, Original Film, Media Righ...",2015,1.385749e+09,1.385749e+09
...,...,...,...,...,...,...
10861,The Endless Summer,Bruce Brown,[Bruce Brown Films],1966,0.000000e+00,0.000000e+00
10862,Grand Prix,John Frankenheimer,"[Cherokee Productions, Joel Productions, Dougl...",1966,0.000000e+00,1.693289e+08
10863,Beregis Avtomobilya,Eldar Ryazanov,[Mosfilm],1966,0.000000e+00,0.000000e+00
10864,"What's Up, Tiger Lily?",Woody Allen,[Benedict Pictures Corp.],1966,0.000000e+00,1.294220e+09
10865,Manos: The Hands of Fate,Harold P. Warren,[Norm-Iris],1966,0.000000e+00,0.000000e+00

In [51]:
one_pc_per_record_df = pd.DataFrame(columns = ['original_title', 'production_companies', 'release_year'])
for row, col in pc_df.iterrows():
    for x in col['production_companies']:
#         print(col['original_title'], x, col['release_year'])
        one_pc_per_record_df  = one_pc_per_record_df.append({'original_title': col['original_title'], 'production_companies': x, 'release_year': col['release_year']}, ignore_index=True)      
one_pc_per_record_df

                 original_title         production_companies release_year
0                Jurassic World            Universal Studios         2015
1                Jurassic World         Amblin Entertainment         2015
2                Jurassic World           Legendary Pictures         2015
3                Jurassic World      Fuji Television Network         2015
4                Jurassic World                       Dentsu         2015
...                         ...                          ...          ...
23189                Grand Prix             Joel Productions         1966
23190                Grand Prix  Douglas & Lewis Productions         1966
23191       Beregis Avtomobilya                      Mosfilm         1966
23192    What's Up, Tiger Lily?      Benedict Pictures Corp.         1966
23193  Manos: The Hands of Fate                    Norm-Iris         1966

[23194 rows x 3 columns]

In [10]:
# GENRES
# For every string of genres in that record, split the production companies into a list. 
# This way we should be able to query whichever production company

In [11]:
genre_df = df.copy(deep=False).drop(['production_companies'], axis=1)
genre_df

,original_title,director,genres,release_year,revenue_adj
0,Jurassic World,Colin Trevorrow,Action|Adventure|Science Fiction|Thriller,2015,1.392446e+09
1,Mad Max: Fury Road,George Miller,Action|Adventure|Science Fiction|Thriller,2015,3.481613e+08
2,Insurgent,Robert Schwentke,Adventure|Science Fiction|Thriller,2015,2.716190e+08
3,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,2015,1.902723e+09
4,Furious 7,James Wan,Action|Crime|Thriller,2015,1.385749e+09
...,...,...,...,...,...
10861,The Endless Summer,Bruce Brown,Documentary,1966,0.000000e+00
10862,Grand Prix,John Frankenheimer,Action|Adventure|Drama,1966,0.000000e+00
10863,Beregis Avtomobilya,Eldar Ryazanov,Mystery|Comedy,1966,0.000000e+00
10864,"What's Up, Tiger Lily?",Woody Allen,Action|Comedy,1966,0.000000e+00
10865,Manos: The Hands of Fate,Harold P. Warren,Horror,1966,0.000000e+00

In [54]:
genre_df['genres'] = genre_df['genres'].apply(lambda x: x.split('|'))
genre_df

,original_title,director,genres,release_year,revenue_adj
0,Jurassic World,Colin Trevorrow,"[Action, Adventure, Science Fiction, Thriller]",2015,1.392446e+09
1,Mad Max: Fury Road,George Miller,"[Action, Adventure, Science Fiction, Thriller]",2015,3.481613e+08
2,Insurgent,Robert Schwentke,"[Adventure, Science Fiction, Thriller]",2015,2.716190e+08
3,Star Wars: The Force Awakens,J.J. Abrams,"[Action, Adventure, Science Fiction, Fantasy]",2015,1.902723e+09
4,Furious 7,James Wan,"[Action, Crime, Thriller]",2015,1.385749e+09
...,...,...,...,...,...
10861,The Endless Summer,Bruce Brown,[Documentary],1966,0.000000e+00
10862,Grand Prix,John Frankenheimer,"[Action, Adventure, Drama]",1966,0.000000e+00
10863,Beregis Avtomobilya,Eldar Ryazanov,"[Mystery, Comedy]",1966,0.000000e+00
10864,"What's Up, Tiger Lily?",Woody Allen,"[Action, Comedy]",1966,0.000000e+00
10865,Manos: The Hands of Fate,Harold P. Warren,[Horror],1966,0.000000e+00

In [57]:
one_genre_per_record_df = pd.DataFrame(columns = ['original_title', 'genre', 'revenue_adj'])
for row, col in genre_df.iterrows():
    for x in col['genres']:
#         print(col['original_title'], x, col['revenue_adj'])
        one_genre_per_record_df  = one_genre_per_record_df.append({'original_title': col['original_title'], 'genre': x, 'revenue_adj': col['revenue_adj']}, ignore_index=True)      
one_genre_per_record_df

                 original_title            genre   revenue_adj
0                Jurassic World           Action  1.392446e+09
1                Jurassic World        Adventure  1.392446e+09
2                Jurassic World  Science Fiction  1.392446e+09
3                Jurassic World         Thriller  1.392446e+09
4            Mad Max: Fury Road           Action  3.481613e+08
...                         ...              ...           ...
24712       Beregis Avtomobilya          Mystery  0.000000e+00
24713       Beregis Avtomobilya           Comedy  0.000000e+00
24714    What's Up, Tiger Lily?           Action  0.000000e+00
24715    What's Up, Tiger Lily?           Comedy  0.000000e+00
24716  Manos: The Hands of Fate           Horror  0.000000e+00

[24717 rows x 3 columns]

#### One `genres` per record

<a id='eda'></a>
## Exploratory Data Analysis

### Which production companies released the most movies in the last 10 years? Display the top 10 production companies.

In [83]:
one_pc_per_record_ten_years_df = one_pc_per_record_df.loc[one_pc_per_record_df['release_year']>2010]
one_pc_per_record_ten_years_df['production_companies'].value_counts().head(10)

Universal Pictures       68
Warner Bros.             57
Columbia Pictures        49
Paramount Pictures       45
Relativity Media         40
Walt Disney Pictures     37
Blumhouse Productions    34
Lionsgate                34
Canal+                   33
BBC Films                33
Name: production_companies, dtype: int64

### What 5 movie genres grossed the highest all-time?

In [82]:
one_genre_per_record_df['cumulative_gross_per_genre'] = one_genre_per_record_df.groupby(['genre'])['revenue_adj'].cumsum()
one_genre_per_record_df.sort_values(by=['cumulative_gross_per_genre'], ascending=False).drop_duplicates(subset=['genre']).head(10)[['genre', 'cumulative_gross_per_genre']]

                 genre  cumulative_gross_per_genre
24675           Action                2.186075e+11
24683        Adventure                2.082414e+11
24643            Drama                1.921179e+11
24676           Comedy                1.814423e+11
24635         Thriller                1.605923e+11
24528           Family                1.078018e+11
24704  Science Fiction                1.068424e+11
24666          Fantasy                1.018289e+11
24645          Romance                8.242227e+10
24491            Crime                7.667635e+10

### Who are the top 10 grossing directors?

In [28]:
df['cumulative_gross_per_director'] = df.groupby(['director'])['revenue_adj'].cumsum()
df.sort_values(by=['cumulative_gross_per_director'], ascending=False).drop_duplicates(subset=['director']).head(10)[['director', 'cumulative_gross_per_director']]

               director  cumulative_gross_per_director
10223  Steven Spielberg                   1.520245e+10
10472     James Cameron                   7.327221e+09
9623      Peter Jackson                   7.019848e+09
10606      George Lucas                   6.313919e+09
9981    Robert Zemeckis                   5.655648e+09
8970        Michael Bay                   5.460672e+09
10225    Chris Columbus                   5.094077e+09
9982         Tim Burton                   4.529285e+09
10544        Ron Howard                   4.527095e+09
9660       Ridley Scott                   4.219566e+09

### Compare the revenue of the highest grossing movies of all time.

In [29]:
df.sort_values(by=['revenue_adj'], ascending=False).head(10)

,original_title,director,genres,production_companies,release_year,revenue_adj,cumulative_gross_per_director
1386,Avatar,James Cameron,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009,2.827124e+09,2.827124e+09
1329,Star Wars,George Lucas,Adventure|Action|Science Fiction,Lucasfilm|Twentieth Century Fox Film Corporation,1977,2.789712e+09,2.789712e+09
5231,Titanic,James Cameron,Drama|Romance|Thriller,Paramount Pictures|Twentieth Century Fox Film ...,1997,2.506406e+09,5.911107e+09
10594,The Exorcist,William Friedkin,Drama|Horror|Thriller,Warner Bros.|Hoya Productions,1973,2.167325e+09,2.652519e+09
9806,Jaws,Steven Spielberg,Horror|Thriller|Adventure,Universal Pictures|Zanuck/Brown Productions,1975,1.907006e+09,1.332864e+10
3,Star Wars: The Force Awakens,J.J. Abrams,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,2015,1.902723e+09,1.902723e+09
8889,E.T. the Extra-Terrestrial,Steven Spielberg,Science Fiction|Adventure|Family|Fantasy,Universal Pictures|Amblin Entertainment,1982,1.791694e+09,9.274315e+09
8094,The Net,Irwin Winkler,Crime|Drama|Mystery|Thriller|Action,Columbia Pictures,1995,1.583050e+09,1.583050e+09
10110,One Hundred and One Dalmatians,Clyde Geronimi|Hamilton Luske|Wolfgang Reitherman,Adventure|Animation|Comedy|Family,Walt Disney Productions,1961,1.574815e+09,1.574815e+09
4361,The Avengers,Joss Whedon,Science Fiction|Action|Adventure,Marvel Studios,2012,1.443191e+09,2.735824e+09

<a id='conclusions'></a>
## Conclusions

* Avatar is the highest-grossing movie of all time.

* Steven Spielberg is the highest-grossing director of all time.

* Action movies (not to my surprise) are the highest-grossing movies..

* Universal Pictures has released the most movies in the past 10 years and the top ten production companies are:
    * Universal Pictures       68 releases
    * Warner Bros.             57 releases
    * Columbia Pictures        49 releases
    * Paramount Pictures       45 releases
    * Relativity Media         40 releases
    * Walt Disney Pictures     37 releases
    * Blumhouse Productions    34 releases
    * Lionsgate                34 releases
    * Canal+                   33 releases
    * BBC Films                33 releases